html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #ff93c6;
  }
}

@media screen and (min-width: 0px) and (max-width: 765px) {
  body {
    background-color: white;
    transition: "background-color 1s ease";
  }
}

/* tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*input*/

input[type="file"]::file-selector-button {
  display: none;
}
